<!DOCTYPE html>
<html>

<head>
    <title>Xalyfi twitter service | フォロワー管理ページ</title>
    <meta name="description" content="Xalyfi twitter service">
    <link rel="shortcut icon" href="/images/Xalyfi.ico">
    <meta property="og:image" content="/images/Xalyfi.png" />
    <meta name="theme-color" content="#00aced">
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <section class="layout">
        <div class="sidebar">
            <div class="title_pannel">
                <a href="/"><img src="/images/Xalyfi.png" alt="Xalyfi" /></a>
                <h2 class="title"><a href="/">Xalyfi on Twitter</a></h2>
            </div>
            <ul class="page_menu">
                <a href="/">
                    <li class="page_button">
                        <p>Home</p>
                    </li>
                </a>
                <a href="/follows">
                    <li class="page_button">
                        <p>Follows</p>
                    </li>
                </a>
                <a href="/followers">
                    <li class="page_button">
                        <p>Followers</p>
                    </li>
                </a>
                <a href="/login">
                    <li class="page_button">
                      <p>Login</p>
                    </li>
                  </a>
            </ul>
        </div>
        <div class="body">
                <div class="header">
                    <h2 class="page_title">フォロー一覧</h2>
                    <h3 class="follow_count"><%= follows.meta.result_count %> 人をフォローしています。</h3>
                </div>
                <div class="follower_list">
                <% for (let i=0; i < follows.data.length; i++) { %>
                    <div class="follower">
                        <div class="f">
                            <div class="follower_icon">
                                <img src="<%= follows.data[i].profile_image_url %>" alt="follower_icon">
                            </div>
                            <div class="f2">
                                <div class="follower_name" id="<%= follows.data[i].id %>">
                                    <a href="https://twitter.com/intent/user?user_id=<%= follows.data[i].id %>"
                                        target="_blank">
                                        <h4>
                                            <%= follows.data[i].name %>
                                        </h4>
                                    </a>
                                </div>
                                <div class="follower_screen_name">
                                    <p>@<%= follows.data[i].username %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="follower_description">
                            <p>
                                <% const description = follows.data[i].description.replace(/\r?\n/g, '<br>') %>
                                <% const description2 = description.replace(/(https?:\/\/[\w/:%#\$&\?\(\)~\.=\+\-]+)/g, '<a href="$1" target="_blank">$1</a>') %>
                                <%- description2.replace(/@([a-zA-Z0-9_]+)/g, '<a href="https://twitter.com/$1" target="_blank">@$1</a>') %> 
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</body>

</html>